.toolkit-card {
  // border: 1px solid #e1e1e1;
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s ease;

  margin-bottom: 1.5rem;

  &__a {
    text-decoration: none;
    padding: 1rem;
    display: flex;
    border-radius: 16px;
    background: #fff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(2, 4, 6, 0.3);

    strong {
      color: #f1404b;
    }
  }

  &__body {
    display: flex;
    text-align: left;
    overflow: hidden;
  }

  &__img {
    flex: none !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: rgba(128, 128, 128, 0.1);
    overflow: hidden;
    margin-right: 0.5rem !important;

    img {
      max-height: 100%;
    }
  }

  &__des {
    overflow: hidden;
    padding-right: 5px;
    &-name {
      font-weight: 700;
    }
    &-title {
      font-size: 12px;
    }
  }
}
